@model qms.ViewModels.VMCustomContent

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Custom Content Create";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="container">
    <div class="row">
        <h4 class="page-head-line">Custom Content > Create</h4>
        <div class="col-md-1"></div>
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.HiddenFor(m => m.is_url)*@
                <input type="checkbox" id="ContentCheckbox" value="Content" checked /> Content
                &nbsp;
                <input type="checkbox" id="is_url" value="URL" /> URL
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.content, 3, 20, new { @id = "content", @class = "form-control Next", @row = "3", @placeholder = "Content" })
                        @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                        <script>
                            CKEDITOR.replace("content");
                        </script>
                    </div>
                </div>

                @*<input type="checkbox" id="is_url" value="URL" /> URL*@
                <div class="form-group">
                    <div class="col-md-4">
                        @*@Html.CheckBoxFor(m => m.is_url, new { @class = "form-control Next", @id = "url", @placeholder = "" })*@
                        @Html.TextBoxFor(m => m.url, new { @class = "form-control Next", @id = "url", @type = "url", @row = "3", @placeholder = "http://example.com/", @oninvalid = "this.setCustomValidity('Enter Valid URL')" })
                        @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="Create" class="btn btn-color" />
                        <button class="btn btn-color">
                            @Html.ActionLink("Back to List", "Index")
                        </button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script>

    function checkval() {
        if ($('#ContentCheckbox').is(':checked')) {
            $('#cke_content').show();
            $('#content').hide();
            $('#url').hide();
        }
        else {
            $('#cke_content').hide();
            $('#content').hide();
            $('#url').show();
        }
    }

    $(function () {
        $('#url').hide();
        $('#ContentCheckbox').click(function () {
            $('#is_url').prop("checked", false);
            checkval();
        });
        $('#is_url').click(function () {
            $('#ContentCheckbox').prop("checked", false);
            checkval();
        });
    });
    $(document).ready(function () {
        var url = $("#url").val();
        if (url) {
            $('#ContentCheckbox').prop("checked", false);
            $('#is_url').prop("checked", true);
            checkval();
        } else {
            $('#is_url').prop("checked", false);
            $('#ContentCheckbox').prop("checked", true);
            checkval();
        }
    });
</script>