@model qms.ViewModels.VMDevicePlayList

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Device Playlist Mapping";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Device Playlist > Mapping</h4>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.DropDownList("department_id", null, "Select One Department", htmlAttributes: new { @class = "form-control", @id = "department_id" })
                            @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.DropDownList("device_id", null, "Select One Device", htmlAttributes: new { @class = "form-control", @id = "device_id" })
                            @Html.ValidationMessageFor(model => model.device_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.DropDownList("playlist_id", null, "Select One PlayList", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.playlist_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            @if (((System.Collections.Generic.List<qms.Models.tblDevice>)((System.Web.Mvc.MultiSelectList)ViewBag.device_id).Items).Count > 0
                                && ((System.Collections.Generic.List<qms.Models.tblPlayList>)((System.Web.Mvc.MultiSelectList)ViewBag.playlist_id).Items).Count > 0)
                            {
                                <input type="submit" value="Create" class="btn btn-color" />
                            }

                            <button class="btn btn-color">
                                @Html.ActionLink("Back to List", "Index")
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            inp = $("#department_id option:selected").text();
            if (inp == "Select One Department") {
                $("#department_id").attr('disabled', false);
            }
            else $("#department_id").attr('disabled', true);
        });

    </script>
    <script src="~/Scripts/sqms/device.js"></script>

}