@model qms.ViewModels.VMDevicePlayList

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Device Playlist Edit";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Device Playlist > Edit</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.device_playlist_id)
            @Html.HiddenFor(model => model.device_id)
            @Html.HiddenFor(model => model.is_active)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-8">
                    Department: @Html.TextBoxFor(m => m.department_name, new { @disabled = "disabled", @class = "form-control Next" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    Device No: @Html.TextBoxFor(m => m.name, new { @disabled = "disabled", @class = "form-control Next" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    Playlist:
                    @Html.DropDownList("playlist_id", null, "Select One Content", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.playlist_id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Update" class="btn btn-color" />
                    <button class="btn btn-color">
                        @Html.ActionLink("Back to List", "Index")
                    </button>
                </div>
            </div>
        </div>

        }
    </div>
</div>

