<ul class="glossymenu">
    @*<li>@Html.ActionLink("Home", "AdminDashboard", "Home", new { area = "" }, null)</li>
        <li><hr /></li>*@
    <li class="line"></li>
    <li>@Html.ActionLink("User", "Index", "DepartmentUsers", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Departments", "Index", "Departments", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Devices", "Index", "Devices", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Custom Content", "Index", "CustomContent", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Play List", "Index", "PlayLists", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Device Play List", "Index", "DevicePlayList", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Department Play List", "Index", "DepartmentPlayList", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Scroll", "Index", "Scrolls", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Device Scroll", "Index", "DeviceScrolls", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Department Scroll", "Index", "DepartmentScrolls", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Play List Scheduling", "Index", "PlayListSheduling", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Scroll Scheduling", "Index", "ScrollSheduling", new { area = "" }, null)</li>
    <li><hr /></li>
    <li>@Html.ActionLink("Department Play List Scheduling", "Index", "DepartmentPlayListShedule", new { area = "" }, null)</li>
    @*<li>@Html.ActionLink("Scroll Scheduling", "Index", "ScrollSheduling", new { area = "" }, null)</li>*@
    <hr />
</ul>



@*<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "AdminDashboard", "Home", new { area = "" }, null)</li>


    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            Setting
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("User", "Index", "DepartmentUsers", new { area = "" }, null)</li>
            <li><hr /></li>
            <li>@Html.ActionLink("Departments", "Index", "Departments", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Devices", "Index", "Devices", new { area = "" }, null)</li>
            <li><hr /></li>
            <li>@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Custom Content", "Index", "CustomContent", new { area = "" }, null)</li>
            <li><hr /></li>
            <li>@Html.ActionLink("Device Play List", "Index", "DevicePlayList", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Department Play List", "Index", "DepartmentPlayList", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Play List", "Index", "PlayLists", new { area = "" }, null)</li>
            <li><hr /></li>
            <li>@Html.ActionLink("Device Scroll", "Index", "DeviceScrolls", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Department Scroll", "Index", "DepartmentScrolls", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Scroll", "Index", "Scrolls", new { area = "" }, null)</li>
            <li><hr /></li>
            <li>@Html.ActionLink("Play List Scheduling", "Index", "PlayListSheduling", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Scroll Scheduling", "Index", "ScrollSheduling", new { area = "" }, null)</li>
        </ul>
    </li>
    
    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            Reports
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Login Attempt Details Report", "LoginAttemptDetailsReport", "Report", new { area = "" }, null)</li>
        </ul>
    </li>
</ul>*@



